.request-details {
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  color: $my-gray;
  font-size: 24px;
  margin-bottom: 20px;
  height: 100px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  p {
    font-size: 16px;
    margin-bottom: 0;
  }
}

.request-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
}

.grey-card {
  background-color: $opacity-gray;
}

.dates {
  width: 100px;
  height: 100px;
  font-weight: bold;
  background-color: $my-green ;
  display:flex;
  align-items: center;

  border-radius: 10px 0px 0px 10px;

  font-weight: bold;
}

.old-request {
  opacity: 0.7;

}

.old-request {
  opacity: 0.7;
}
