/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  background: #6D214F;
  border: 1px solid white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.25);
}

.alert-info {
}

.alert-warning {
}
