/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  background: #6D214F;
  border: 1px solid white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.alert-info {
}

.alert-warning {
}
