.contact-from {
  display: flex;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  background-color: white;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  p {
    margin-right: 10px;
  }
}

.your-team {
  display: block;
  padding: 20px;
}

.form-check {
  &:hover {
    color: $my-green !important;
  }
}

#request_at_home_0, #request_at_home_1 {
  display:none;
}

.green {
  color: $my-green;
}
