.dashboard-title {
  margin: 100px 0px;

  font-weight: bold;
  font-size: 32px;
}
.sample-btn {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.dashboard-container {
  max-width: 1600px;
}

.background-dashboard {
  margin-top: 100px;
}

.team-dashboard {
  margin-top: 15px;
  height: 390px;
}

.center-team-sample {
  justify-content: center;
}

.pink-ranking {
  color: $my-pink;
  font-weight: bold;
}

.teams-index-ranking {
  margin-top: 10px;
}

.dashboard-flex {
  justify-content: space-around;
}
.request-dashboard {
  padding-bottom: 10px;
}
.dashboard-game-request {
//   display: flex;
//   justify-content: space-around;
//   flex-direction: column;
//   align-items: center;
  margin: 50px 0px;
//   // height: 250px;
//   color: black;
//   a {
//     text-decoration: none;
//   }
}
.margin-left-title {
  padding-left: 27px;

}
.upcoming-games-dashboard {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 11px;
  height: 56px;
}
.next-game-detail {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  p {
    margin-left: 20px;
  }
  h5 {
    margin-left: 20px;
    font-weight: lighter;
  }
  a:hover {
    text-decoration: none;
  }
}
.game-notification {
  color: white;
  background-color: $my-pink;
  margin-right: 10px;
  position: relative;
  margin-top: 7px;
  a {
    text-decoration: none;
    color: white;
    position: absolute;
    right: 14px;
    bottom: 6px;
    font-weight: bold;
  }
}
.games-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team-against-avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.request-flex {
  // display: flex;
  align-items: center;
  width: 100%;
  h3 {
    font-size: 24px;
    margin: 25px 0px;
  }
}

.last-request {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-game-bold {
  font-style: bolder;
}

