.dashboard-title {
  margin: 100px 0px;

  font-weight: bold;
  font-size: 32px;
}

.dashboard-container {
  max-width: 1600px;
}

.background-dashboard {
  background-color: rgba(80, 66, 131, 0.8);
  margin-top: 100px;
}

.team-dashboard {
  margin-top: 15px;
  height: 390px;
}

.center-team-sample {
  justify-content: center;
}

.pink-ranking {
  color: $my-pink;
  font-weight: bold;
}

.teams-index-ranking {
  margin-top: 10px;
}

.dashboard-flex {
  justify-content: space-around;
}

.dashboard-game-request {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(250, 250, 250, 0.9);
  box-shadow: 5px 4px 15px rgba(46,44,51,1);
  margin: 100px 0px;
  height: 250px;
  color: black;
  a {
    text-decoration: none;
  }
}

.request-flex {
  // display: flex;
  align-items: center;
  width: 100%;
  h3 {
    font-size: 24px;
    margin: 25px 0px;
  }
}

.last-request {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-game-bold {
  font-style: bolder;
}

