.games-flex {
  justify-content: center;
}

.games-index {
  margin-top: 15px;
  height: 350px;
}

.game-container {
  margin-top: 70px;
  width: 650px;
  margin: 20px auto;
  border: solid 1px #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}
