@keyframes fromLeft { from { transform: translateX(-1000px); } to { transform: translateX(50px); } }

.from-left {
   /* make things invisible upon start */
  transform: translateX(-1000px);
  animation:fromLeft cubic-bezier(0,1.75,.42,1.17); /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

  animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

  animation-duration:0.4s;
  animation-delay: 0.5s;
}

@keyframes fromRight { from { transform: translateX(1000px); } to { transform: translateX(-50px); } }

.from-right {
   /* make things invisible upon start */
  transform: translateX(1000px);
  animation:fromRight cubic-bezier(0,1.75,.42,1.17); /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

  animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

  animation-duration:0.4s;
  animation-delay: 0.5s;
}

@keyframes fadeStar { from { opacity:0; } to { opacity:0.8; } }

.fade-star {
  opacity:0;
  animation: fadeStar ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

  animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

  animation-duration:0.3s;
  animation-delay: 0.8s;
}

@keyframes scaleStar { 0% { transform:scale(1); } 50% { transform:scale(1.3); } 100% { transform:scale(1); } }

.scale-star {
  transform: scale(1);  /* make things invisible upon start */
  animation: scaleStar ease-in-out 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

  animation-duration:0.3s;
  animation-delay: 0.8s;
}

.games-flex {
  justify-content: space-around;
}

.games-index {
  margin-top: 15px;
  height: 400px;
  z-index: 30;
}

.game-container {
  margin-top: 70px;
  width: 650px;
  margin: 20px auto;
  border: solid 1px #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}

.grey-card {
  display: flex;
  justify-content: center;
}

.no-background {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.star {
  position:relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image {
  opacity: 0.8;
  width: 380px;
}
.games-show-team {
  margin-bottom: 15px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
