.games-index-container {
  margin-top: 30px;
}
.games-index-title {
  margin-bottom: 50px;
}
.games-index-btn {
  text-decoration: none;
  font-weight: lighter;
  &:hover {
    text-decoration: none;
  }
}
