.navbar-lewagon {
  justify-content: space-between;
  background: $my-orange;
}

.logged-nav {
  font-weight: bold;
  color: white;
  &:hover {
    color: $my-yellow;
  }
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.log-in-nav {
  color: white;
  &:hover {
    color: $my-yellow;
  }
}
