.bg {
  background-image: url(track.svg);
  background-repeat: no-repeat;
}

.navbar-lewagon {
  justify-content: space-between;
}

.logged-nav {
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  margin-right: 25px;
  border: 3px solid transparent;
  &:hover {
    border-bottom: 3px solid white;
  }
}

.navbar-light .navbar-nav .nav-link .active {
  color: white;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.log-in-nav {
  color: white;
  &:hover {
    color: $my-yellow;
  }
}

#logo {
  width: 125px;
}

.dropdown-menu.show {
  background-color: #3e306e;
  border: transparent;
  margin-right: -16px;
  // padding: 11px;
  text-align: right;
  & .nav-link {
    border: transparent;
    margin-right: 10px;
    line-height: 40px;
    &:hover {
      border: transparent;
      color: white
    }
  }
}
