.bg {
  background-image: asset-url('track.svg');
  background-repeat: no-repeat;
}

.navbar-derby-match {
  justify-content: space-between;
}

.navbar-derby-match .navbar-collapse {
  flex-grow: 0;
}

.navbar-derby-match .navbar-brand img {
  width: 40px;
}

#logo {
  width: 125px;
}

.logged-nav {
  font-weight: bold;
}

.navbar-light .navbar-nav .active > .nav-link {
  // change to the color once chosen
  color: $my-green;
}

.navbar-light .navbar-nav .nav-link {
  margin-right: 25px;
  color: white;

  &:hover {
    // change to the color once chosen
    color: #00e591;

  }
}


.log-in-nav {
  color: white;
  &:hover {
    color: $my-green;
  }
}

.dropdown-menu.show {
  background-color: #B33771;
  border: 1px solid #6D214F;
  margin-right: -16px;
  // padding: 11px;
  text-align: right;
  & .nav-link {
    border: transparent;
    margin-right: 10px;
    line-height: 40px;
    &:hover {
      border: transparent;
      color: white
    }
  }
}
