.grid-request {
  display: grid;
  grid-template-columns : 1fr 1fr 1fr 1fr;
  grid-template-rows: 1 / span 1;
  grid-gap: 16px;
}

.card {
  grid-column: 1 / span 3;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);;
}
.contact-infos {
  grid-column: 4 / span 1;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.chat-message {
  background-color: white;
}
